# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
venv/
env/

# Environment variable files
.env

# IDE-specific files
.idea/

# Log files
*.log

# OS-specific files
.DS_Store
config.py